<footer class="footer mt-auto py-4"">
    <div class="container">
        <div class="row g-4">
            <!-- links -->
            <div class="col-12 col-md-4 text-center text-md-start">
                <a class="navbar-brand d-flex align-items-center" href="{{ url_for('public.home') }}">
                    <img src="{{ url_for('static', filename='img/icon/icon.ico') }}" alt="BearCam Logo" width="40" height="40" class="me-2">
                    <span class="tektur-font text-white">BearCam</span>
                </a>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center gap-4">
                    <li><a href="#" class="text-light text-decoration-none">Sobre Nosotros</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Política de Privacidad</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Términos de Uso</a></li>
                    <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-12">
                <hr class="border-light">
                <p class="text-light text-center mb-0">&copy; 2024 BearCam. Todos los derechos reservados.</p>
            </div>
        </div>
        
    </div>
</footer>

