{% extends 'base.html' %}

{% block title %}Perfil | BearCam{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Perfil</h1>
        <div class="d-flex justify-content-center mb-4 mt-3 menu-principal-perfil">
            <div class="col-12 col-md-4 col-lg-4 section">
            {% include 'components/menuPerfil.html' %}
            </div>
            <div class="col-12 col-md-8 col-lg-8">
                <div class="section">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ url_for('private_route.profile') }}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Fotografias</li>
                        </ol>
                    </nav>
                </div>
                <div class="section">
                    <h3 class="mt-3">Fotografias</h3>
                    <div>
                        {% if fotos_paginadas.items %}
                            <div class="fotos-container">
                                <div class="row">
                                    {% for foto in fotos_paginadas.items %}
                                        <div class="col-md-4 mb-4">
                                            <div class="foto-item text-center">
                                                <img src="{{ url_for('static', filename='img/' + foto.url) }}" alt="Foto" class="img-fluid rounded shadow-sm">
                                                <p class="mt-2">Fecha: {{ foto.created_at.strftime('%d/%m/%Y %H:%M') }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Paginador -->
                                <nav aria-label="Navegación de fotos" class="mt-4">
                                    <ul class="pagination justify-content-center">
                                        {% if fotos_paginadas.has_prev %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ url_for('private_route.fotografias', page=fotos_paginadas.prev_num) }}">Anterior</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#"><span aria-hidden="true" aria-label="Anterior">&laquo;</span></a>
                                            </li>
                                        {% endif %}

                                        {% for p in fotos_paginadas.iter_pages() %}
                                            {% if p %}
                                                {% if fotos_paginadas.page == p %}
                                                    <li class="page-item active">
                                                        <a class="page-link" href="{{ url_for('private_route.fotografias', page=p) }}">{{ p }}</a>
                                                    </li>
                                                {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{ url_for('private_route.fotografias', page=p) }}">{{ p }}</a>
                                                </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if fotos_paginadas.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ url_for('private_route.fotografias', page=fotos_paginadas.next_num) }}">Siguiente</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Siguiente"><span aria-hidden="true">&raquo;</span></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>

                            </div>
                        {% else %}
                        <p>No tienes fotos cargadas aún.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}